:root {
  --light-grey: #FAFAFA;
  --grey: #737373;
  --dark-grey: #333333;
  --light-pink: #EFEBFF;
  --light-purple: #EFEBFF;
  --purple: #633CFF;
  --purple-hover: #BEADFF;
  --red: #FF3939;

  --borders: #D9D9D9;
}


@font-face {
  font-family: 'Instrument Sans';
  src: url("../assets/fonts/InstrumentSans-VariableFont_wdth,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}


@media screen and (min-width: 768px) {
  body {
    background-color: var(--light-grey);
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin-inline: auto;
  }
}