.main_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  justify-content: start;
  gap: 4rem;
}




@media screen and (min-width: 768px) {
  .main_content {
    justify-content: center;
    gap: 2.188rem;

  }
}