.container{
  display: flex;
  flex-direction: column;
  background-color: white;

  min-height: 100vh;
  justify-content: start;
  align-items: center;



  .content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex-grow: 1;
    margin-inline: auto;
    padding-top: 4rem;
    margin-inline: auto;
    max-width: 19.438rem;
  }
}