.form_container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;

  .header_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .drag_group {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      .drag_p {
        /* font */
        font-family: "Instrument Sans", serif;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0;
        font-weight: 700;

        color: var(--grey) !important;
      }
    }
  }

  .form_group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .form_label {
      font-family: "Instrument Sans", serif;
      font-size: 0.75rem !important;
      line-height: 150%;
      letter-spacing: 0;
      font-weight: 400;

      color: var(--dark-grey);
    }

    .input_container {
      position: relative;

      .form_container {
        padding-left: 2.75rem;

        font-family: "Instrument Sans", serif;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0;
        font-weight: 400;
      }

      .svg_container {
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
    }
    .form_container {
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      width: 100%;
      background-color: wheat;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      align-items: center;
      justify-content: space-between;
      border: none;
      outline: 1px solid var(--borders);


      .icon_img_group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;

        font-family: "Instrument Sans", serif;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0;
        font-weight: 400;

        color: var(--dark-grey);

      }
      .is_open {
        transform: scale(-1);
        transition: ease-in-out all 150ms;
      }
      .is_closed {
        transform: scale(1);
        transition: ease-in-out all 150ms;
      }
    }
  }

}